# AWS Credentials - CHANGE EVERY TIME YOU OPEN THE AWS LAB
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_SESSION_TOKEN=''
REGION_NAME=''
S3_BUCKET_NAME=''

# DB - STATIC
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''
DB_NAME=''  

#SNS - STATIC
SNS_TOPIC_ARN=''